<div class="cards">
  <div class="card-img">
    <img src="{{imageUrl}}" alt="" srcset="" />
  </div>
  <div class="card-body">
    <h3 class="card-title">{{buildingName}}</h3>
    <p>Card description</p>
  </div>
</div>