<div class="cards">
  <a href="bldg-view.php?id={{building_id}}" target="_blank">
    <div class="card-img">
      <img src="{{imageUrl}}" alt="" srcset="" />
    </div>
    <div class="card-body">
      <h3 class="card-title">{{buildingName}}</h3>
      <p>{{location}}</p>
    </div>
  </a>
</div>